@model List<A4.Models.Product>

@{
    ViewData["Title"] = "Product Index";
    Layout = "_Layout";
}

<h1>Product Index</h1>

<div class="table-container">
    <table class="custom-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Available Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>@product.AvailableQuantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>
