@model List<A4.Models.PO>

@{
    ViewData["Title"] = "PO List";
    Layout = "_Layout";
}

<h1>Orders</h1>

<div class="table-container">
    <table class="custom-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Product</th>
                <th>Product Number</th>
                <th>Quantity</th>
                <th>Price Per Unit</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var po in Model)
            {
                <tr>
                    <td>@po.Id</td>
                    <td>@po.UserId</td>
                    <td>@po.ProductId</td>
                    <td>@po.Quantity</td>
                    <td>@po.UnitPrice</td>
                    <td>@po.Total</td>
                </tr>
            }
        </tbody>
    </table>
</div>
